# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: SD Card Monitor (sdmon)
version: "1.1.3"
slug: sdmon
description: Monitor industrial SD card health status using sdmon
url: "https://github.com/maximizerr/homeassistant-addon-sdmon"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
init: false
hassio_api: true
hassio_role: manager
homeassistant_api: true
udev: true
devicetree: true
kernel_modules: true
devices:
  - /dev/mmcblk0
privileged:
  - SYS_RAWIO
  - BPF
  - CHECKPOINT_RESTORE
  - DAC_READ_SEARCH
  - IPC_LOCK
  - NET_ADMIN
  - NET_RAW
  - PERFMON
  - SYS_ADMIN
  - SYS_MODULE
  - SYS_NICE
  - SYS_PTRACE
  - SYS_RESOURCE
  - SYS_TIME
apparmor: false
full_access: true
map:
  - share:rw
options:
  device: "/dev/mmcblk0"
  scan_interval: 300
  add_delay: false
  output_file: "/share/sdmon_status.json"
schema:
  device: str
  scan_interval: int(60,86400)
  add_delay: bool
  output_file: str
image: "ghcr.io/maximizerr/{arch}-addon-sdmon"
